<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
     <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<p>Click the button to navigate </p>
<div class="img_container">
    <div>
<button class="normal_button" id="prev">Prev</button>
<button class="normal_button" id="next">Next</button>
        <button class="normal_button" id="autoScroll">AutoScroll</button>
        <button class="normal_button" id="cancelScroll">CancelScroll</button>
</div>
    <img src="{{src}}" id="main_img" alt="beauty" width="{{width}}" height="{{height}}" >

</div>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hey there</h1>
{% endif %}




<script type="application/javascript" src="http://127.0.0.1:10089/js/common.js"></script>



</body>

<style>
    .normal_button {
        margin-left: 100px;
        margin-top: 0px;
        margin-bottom: 10px;
        background-color: #2784de;
    }

</style>



