<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File not found! </title>
</head>
            <body>
            <p>opps! File not found</p>
            <img src="/static/image/54545454.jpg" alt="landscape" width="900" height="600">

                    {% if user %}
                    <h1>Hello {{ user }}!</h1>
                    {% else %}
                    <h1>Hello stranger!</h1>
                    {% endif %}


                    <ul>
                    {% for name in names %}
                    <li>{{ name }}</li>
                    {% endfor %}
                    </ul>

            </body>
</html>