<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Input Example</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>File input</h1>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputFile">File input</label>
                <input type="file" name="inputFile">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</body>
</html>